<link rel="stylesheet" type="text/css" href="/css/styles.css">
<h1 class="header">SuppStack.io</h1>
<div class="center">
    <h1 class="header"><%= user.url %>'s Stack</h1>
</div>

<div class="supplementContainer">
    <table>
        <thead>
            <tr>
                <th>Supplement</th>
                <th>Amount</th>
                <th>FDA Limit (%)</th>
            </tr>
        </thead>
        <tbody>
            <% for(let supplement in user.ingredients) { %>
                <tr>
                    <td><%= supplement %></td>
                    <td><%= user.ingredients[supplement] %></td>
                    <td>
                        <% let percentage = 0; %>
                        <% if(fdaLimits && fdaLimits[supplement]) { %>
                            <% percentage = (user.ingredients[supplement] / fdaLimits[supplement]) * 100; %>
                        <% } %>
                        <progress value="<%= percentage %>" max="100"></progress>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    
    <script src="/js/users.js"></script>
</div>
